.new-event-form label,
.new-event-form input,
.new-event-form select {
  display: block;
  text-align: left;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1.2em;
}

.close__button {
  font-size: 1.8em;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
